.library-dropdown__icon {
  color: #ffffff;
  font-size: 36px !important;
}

.library-dropdown {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0px 10px;
  cursor: pointer;
}

.library-dropdown__list {
  position: absolute;
  display: none;
  list-style: none;
  background-color: #ffffff;
  padding: 15px;
  min-width: 200px;
  right: 0px;
  border: 1px solid #ececec;
  box-shadow: 0px 1px 1px rgba(0,0,0,0.05);
  color: #656565;
}

.library-dropdown__list--open {
  display: block;
}
