.sidebar {
  position: fixed;
  top: 70px;
  left: 0px;
  height: 100%;
  width: 30px;
  background-color: #4A6572;
  padding: 25px 20px;
  z-index: 15;
}

.sidebar__icon {
  cursor: pointer;
  margin: 25px 0px;
  color: #d4d4d4;
  display: block;
}

.sidebar__icon--active {
  color: orange;
}

.sidebar__icon > .zmdi {
  font-size: 35px !important;
}

.sidebar__icon:hover {
  color: orange;
}
