.notebook__add-cell-line {
  min-height: 20px;
}

.notebook__add-cell-line-trigger {
  font-size: 18px;
  cursor: pointer;
  border: 1px solid #212121;
  border-radius: 50%;
  padding: 1px 6px;
  line-height: 21px;
  display: inline-block;
  color: gray;
  border-color: gray;
  transform: scale(0.75);
}

.notebook__add-cell-line:hover .notebook__add-cell-line-trigger {
  color: #212121;
  border-color: #212121;
}

.notebook__add-cell-line-separator{
  margin: 4px;
  color: #ececec;
}
